<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .congrats {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  background-color: #d22222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

</style>
<body>
    <div class="congrats">
        <h1>Enjoy The Movie !</h1>
        <p>Your ticket has been booked !</p>
      </div>
      
</body>
</html>